# ===== CCS (Code Composer Studio) =====
Debug/
Release/
.settings/
targetConfigs/
notes.txt
# ===== Clang / tooling =====
.clangd

# ===== Build artifacts =====
*.o
*.obj
*.out
*.elf
*.axf
*.map
*.bin
*.hex

# ===== Logs =====
*.log

# ===== Temporary =====
*.tmp
*.swp

# ===== macOS =====
.DS_Store
